@charset "UTF-8";
/*共通ここから*/
html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

h1{
    width: 120px;
    height: 40px;
    background-color: #2A2A2A;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    line-height: 38px;
}

h2{
    font-size: 2.4rem;
    letter-spacing: -0.05em;
}

h4{
    font-size: 1.6rem;
}

p{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    color: #24292E;
    font-size: 1.2rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 80px);
    padding-top: 76px;
    padding-bottom: 80px;
}

.common-title{
    text-align: center;
    margin-bottom: 40px;
}

.common-title h2{
    margin-bottom: 12px;
}

.readmore{
    width: 132px;
    height: 42px;
    padding: 13px 32px 13px 32px;
    margin: 0 auto;
    border: 1px solid #2A2A2A;
}
/*共通ここまで*/

/*mainvisual-wrapperここから*/
.mainvisual-wrapper{
    position: relative;
}

.mainvisual-wrapper img{
    height: 600px;
    object-fit: cover;
    z-index: 10;
}

.mainvisual-wrapper h1{
    position: absolute;
    z-index: 20;
    top: 30px;
    right: 30px;
}
/*mainvisual-wrapperここまで*/

/*menu-wrapperここから*/
.menu-wrapper .flex-wrapper{
    display: flex;
    justify-content: center;
}

.magazine-menu{
    margin-left: 11px;
    margin-right: 7px;
    position: relative;
}

.menu-contents{
    position: absolute;
    top: calc(50% - 44.5px);
    left: calc(50% - 148px);
    text-align: center;
    width: 290px;
    height: 93px;
    background-color: #707070;
    background: rgba(112, 112, 112, 0.5);
    color: #fff;
    padding: 11px 27px 11px 27px;
}

.menu-contents h3{
    font-size: 2rem;
}

.menu-contents p{
    font-size: 1.4rem;
    font-weight: normal;
}
/*menu-wrapperここまで*/

/*fashion-wrapperここから*/
.fashion-wrapper {
    background-position: center;
    background-image: url(/images/fashion.png);
    height: 520px;
    margin-bottom: 89px;
} 

.fashion-wrapper .common-title{
    padding-top: 57px;
    margin-bottom: 29px;
}
/*fashion-wrapperここまで*/

/*catalog-wrapperここから*/
.catalog-wrapper{
    background-color: #F5F5F5;
}

.catalog-wrapper .container{
    padding: 52px 85px 60px 80px;
    padding-bottom: 60px;
}

.catalog-wrapper .flex-wrapper1,
.catalog-wrapper .flex-wrapper2{
    display: flex;
    justify-content: center;
}

.flex-wrapper1{
    margin-bottom: 120px;
}

.catalog-contents,
.antique-contents{
    width: calc(620 / 1200 * 100%);
    padding-top: 87px;
    padding-bottom: 90px;
    text-align: center;
}

.catalog-contents{
    padding-left: 38px;
}

.antique-contents{
    padding-right: 30px;
}

.catalog-wrapper .title{
    margin-bottom: 32px;
}

.catalog-text p:first-of-type,
.antique-text p:first-of-type{
    margin-bottom: 30px;
}

.catalog-text p:last-of-type{
    margin-top: 30px;
}

.catalog-wrapper .readmore{
    margin-top: 60px;
}
/*catalog-wrapperここまで*/

/*mag88-wrapperここから*/
.mag88-wrapper{
    background-color: #333333;
}

.mag88-wrapper .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 108px 95px 70px;
    padding-bottom: 95px;
}

.title-1{
    color: #fff;
}

.title-1 ul{
    list-style-position: inside;
    font-size: 1.2rem;
    line-height: calc(24 / 12);
}

.title-2{
    width: 308px;
    color: #fff;
}

.title-2 p{
    font-size: 1.2rem;
    line-height: calc(24 / 12);
}
/*mag88-wrapperここまで*/

/*footerここから*/
footer{
    text-align: center;
    padding: 30px 0;    
}

footer p{
    font-size: 1.2rem;
}
/*footerここまで*/